
.wrapper {
	
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -80%);
	
	width: 65vw;

}

h2	{

	text-align: center;

}

h2 > em {
	transition: 0.6s;
	font-style: normal;
	
}

h2:hover > em {
	color: red;
}

.infos {

	margin-top: 20px;

	display: flex;
	flex-direction: column;
	

}

ul {
	list-decoration: circle;
}

.infos li {
	display: flex;
	flex-direction: row;

	align-items: center;
}

.infos li > h4 {
	font-weight: bold;
}

.infos li > h4::after {
	content: " "
	white-space: pre-wrap;
}


.infos li > p {
	
}

.infos li > p:hover {
	cursor: pointer;

}
