ul {
	list-style: none;

	margin: 0px 20px;
	padding: 0px 40px;
}

li {
	margin-top: 60px;
	padding: 20px;

	border-radius: 25px;

	background-color: lightblue;
}

li:first-child {
	margin-top: 20px;
}

li h3 {
	margin-top: 0px;
}