form {
	display: flex;
	flex-direction: column;

	gap: 20px;

	align-items: center;
	justify-content: center;

	font-size: 1.5em;

	width: 550px;
	padding:  20px;

	margin: 0px calc(50vw - 300px);

	background-color:white;

	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

input {
	font-size: 1.3em;
	text-align: center;	

	width: 350px;
}

label {
	display:none
}

button {
	font-size: 1.5em;
	background-color:  orange;
	border: solid 1px black;

	border-radius:10px;

	padding: 3px;
}

button:hover {
	background-color: darkorange;
}
