{% extends "base.html" %}

{% block content %}

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/500.css') }}" />
	
	
	<div class="wrapper">
		<h2>Le serveur a rencontré une <em>erreur</em> inattendue..</h1>

		<div class="infos">
			<p>Veuillez contacter Sébastien VOINOT pour plus d'informations:</p>
			
			<ul>
				<li>
					<h4>Mail: </h4>
					<p>sebastien.voinot@dssmith.com</p>
				</li>
		
				<li>
					<h4>Numéro de téléphone: </h4> 
					<p>03 89 72 21 73</p>
				</li>
			</ul>
		</div>
	</div>


	<script>

	</script>
{% endblock %}
