{% extends "base.html" %}

{% block content %}

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/conges.css') }}" />

	<div id="wrapper">

		{% for conge in conges %}

			<div class="conges">
				<p style="background-color: {{ conge[2]  }}">{{ conge[0] }}</p>
				<p>{{ conge[1] }}</p>
			</div>

		{% endfor %}
	</div>


	<script type="text/javascript">
		

		let liste_type_conge = document.querySelectorAll(".conges > p:last-child")

		liste_type_conge.forEach(conge=>{
			if (conge.innerHTML == "M")
				conge.style.backgroundColor = "red";
			else if (conge.innerHTML == "C")
				conge.style.backgroundColor = "green";
			else if (conge.innerHTML == "R")
				conge.style.backgroundColor = "yellow";
			else if (conge.innerHTML == "?")
				conge.style.backgroundColor = "#CF9FFF";
		})


	</script>

{% endblock %}