{% extends "base.html" %}

{% block content %}
	
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}" />


	<div id="fonc-wrapper">
		
		<ul>
			<li>
				<h3>Création du planning</h3>
				<p>Outil proposant un planning des équipes en fonction du personnel disponible et des
				ouvertures</p>
				<a href="{{ url_for('planning') }}">Cliquez ici!</a>
			</li>
			<li>
				<h3>Liste des congés du personnel</h3>
				<p>Outil permettant de visualiser les congés du personnel</p>
				<a href="{{ url_for('conges') }}">Cliquez ici!</a>
			</li>
		</ul>

	</div>

{% endblock %}