{% extends "base.html" %}

{% block content %}
	
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form_planning.css') }}">

	<form action="#" method="post">

		<div>
			<label for="equipe_nuit">Equipe de nuit:</label>
			<select id="equipe_nuit" name="equipe_nuit">
				<option value="VERTE">Equipe verte</option>
				<option value="BLEUE">Equipe bleue</option>
				<option value="ROUGE">Equipe rouge</option>
			</select>
		</div>

		<div>
			<label for="equipe_aprem">Equipe de l'après-midi:</label>
			<select id="equipe_aprem" name="equipe_aprem">
				<option value="VERTE">Equipe verte</option>
				<option value="BLEUE">Equipe bleue</option>
				<option value="ROUGE">Equipe rouge</option>
			</select>
		</div>

		<div>
			<label for="equipe_matin">Equipe du matin:</label>
			<select id="equipe_matin" name="equipe_matin">
				<option value="VERTE">Equipe verte</option>
				<option value="BLEUE">Equipe bleue</option>
				<option value="ROUGE">Equipe rouge</option>
			</select>
		</div>	

		<div>
			<label for="nom_jour">Nom du jour</label>
			<select name="nom_jour" id="nom_jour">
				<option value="Lundi">Lundi</option>
				<option value="Mardi">Mardi</option>
				<option value="Mercredi">Mercredi</option>
				<option value="Jeudi">Jeudi</option>
				<option value="Vendredi">Vendredi</option>
			</select>
		</div>

		<div>
			<label for="jour">Jour</label>
			<input id="jour" name="jour" type="number" max="31" min="1" value="21">
		</div>

		<div>
			<label for="mois">Mois</label>
			<input id="mois" name="mois" type="number" max="12" min="1" value="6">
		</div>

		<div>
			<label for="annee">Année</label>
			<input id="annee" name="annee" type="number" max="9999" min="1" value="2021">
		</div>


		<button>Créer le planning</button>

	</form>

{% endblock %}